/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  /* font-family: sans-serif; */
  background-color: white;
}

.nav{
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  border-bottom: 2px solid #dadada;


}

.nav-part2{
  display: flex;
  /* background-color: blue; */
  gap: 4vw;
}
.nav h2{
  font-size: 2vw;
  font-weight: 700;
}
.nav h4{
  font-size: 1vw;
  font-weight: 600;
}

.nav i{
  font-weight: 600;
  display: none;
}
.content{
  height: calc(100% - 100px);
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  position: relative;
}
.left{
  height: 100%;
  width: 55%;
  /* background-color: yellow; */
  padding: 4vw 2vw;
}
.left span{
  color: lightgreen;
}

.left p{
  font-size: 1.2vw;
  font-weight: 600;
  width: 80%;
  color: #666;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

.left h1{
  line-height: 5vh;
  font-weight: 600;
}

button{
  font-size: 1.2vw;
  padding: 1vw 2vw;
  background-color: lightgreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.right{
  height: 100%;
  width: 45%;
  /* background-color: olive; */
}
.cicd-image{
  height: 100%;
  width: 100%;
  
}


@media (max-width:600px) {
  .nav{
    
    padding: 0 5vw;
    height: 60px;
  }
  .nav h2{
    font-size: 6vw;
  }
  .nav h4{
    font-size: 4vw;
    display: none;
  }
  .nav i{
  font-size: 4vw;
  font-weight: 600;
  display: block;
}
.content{
  height: calc(100% - 60px);
  flex-direction: column;

}

.left{
 font-size: 4vw;
 height: 40%;
 width: 100%;
 padding: 4vh 6vw;

}
.left p{
  font-size: 3vw;
  font-family: 400;
  width: 90%;
}
.right{
 font-size: 4vw;
 height: 60%;
 width: 100%;
  padding: 2vh 6vw;
}
  
}