* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightblue;
  padding: 0 2vw;
}

.header-logo {
  object-fit: contain;
  border: 1px solid red;
  height: 70%;
  width: 40%;
}

.content {
  flex-grow: 1;
  background-color: #1ea0d4;
  width: 100%;
  overflow-y: auto;
}

.slide-image{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vh 2vw;
}
.slide-image1 {
  object-fit: contain;  
  display: block;
  max-width: 80%;
  width: 100%;
}

.features{
  background-color: red;
  width: 100%;
}


.footer {
  background-color: #020b04;
  color: white;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 2vw;
}